name: Publish Docker image

on:
  # Trigger the workflow on push or pull request,
  # but only for the main branch
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  push_to_registry:
    name: Push Docker image to AWS ECR
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v2

      - name: Build and push Docker image
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        run: |
          awsUrl=244530008913.dkr.ecr.eu-west-1.amazonaws.com
          aws ecr get-login-password --region eu-west-1 | docker login --username AWS --password-stdin $awsUrl
          rev=$(git rev-parse --short HEAD)
          username=kaam004
          tag=kaam004frilek
          docker build . -t $tag:$rev
          docker tag $tag:$rev $awsUrl/$username:$rev
          docker tag $tag:$rev $awsUrl/$username:latest
          docker push $awsUrl/$username:$rev
          docker push $awsUrl/$username:latest
  build-container:
    name: Build Docker container image
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Publish to Github Packages
        uses: docker/build-push-action@v1
        with:
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
          registry: docker.pkg.github.com
          repository: ${{ github.repisotory }}/next
          tags: latest, ${{ github.run_number }}
      - name: Publish to Docker Hub
        uses: docker/build-push-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          repository: kaikka/kaam004frilek
          tags: latest, ${{ github.run_number }}
